.project {
    margin: 50px 40px;
    margin-left: 200px;
}

.project hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;

}

.project h2 {
    font-weight: bold;
    color: #138781;
}

#ads {
    margin: 30px 0 30px 0px;
}

#ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background-color: #f29f67;
    text-align: center;
    border-radius: 30px;
    color: #000000;
    padding: 5px 10px;
    font-size: 14px;

}

.project .card img {
    height: 150px;
    width: 100%;
}

.card-detail-badge {
    background-color: #f14ad5;
    text-align: center;
    border-radius: 30px;
    color: #000000;
    padding: 5px 10px;
    font-size: 14px;
    margin: 2px;
}

.crd-image-overly {
    font-size: 20px;
}

.crd-image-overly span {
    display: inline-block;
    margin-left: 5px;
}

.project .card:hover {
    background-color: #f0f8ff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease;

}

.project-btn {
    text-transform: uppercase;
    display: flex;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #138781;
    border-radius: 80px;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-btn:hover {
    color: #138781;
    background: transparent;
    border: 2px solid #138781;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ----------mobile size--------- */

@media (max-width:600px) {
    .project {
        padding: 0;
        margin: 0;
        margin-top: 70px;
    }

    .project .card {
        margin-top: 50px;
    }
}